node_modules
logs
*.log
.env
.DS_Store
coverage
coverage/
coverage/*
coverage/lcov-report/
coverage/lcov-report/*
coverage/lcov.info
coverage/lcov.info.json
coverage/lcov-report/index.html
coverage/lcov-report/coverage-final.json
coverage/lcov-report/coverage-final/
coverage/lcov-report/coverage-final/*
coverage/lcov-report/coverage-final/lcov.info
coverage/lcov-report/coverage-final/lcov.info.json
coverage/lcov-report/coverage-final/index.html
coverage/lcov-report/coverage-final/coverage-final.json
coverage/lcov-report/coverage-final/coverage-final/
coverage/lcov-report/coverage-final/coverage-final/*
coverage/lcov-report/coverage-final/coverage-final.info
coverage/lcov-report/coverage-final/coverage-final.info.json
coverage/lcov-report/coverage-final/coverage-final/index.html
coverage/lcov-report/coverage-final/coverage-final/coverage-final.json
uploads/
private_uploads/
